footer{background-color: black;height:60px;margin:60px 0 -10px 0;}

.contour-titre{width: 390px;height: 105px;display: block;margin:0 auto;margin-bottom: 30px;}
.titre{font-style: bold; color: black;padding:25px 5px 2px 1px; }
.presentation{background-color: #EEE;border: 2px solid;padding: 10px;}
.conteneur{width: 100%;padding-right: 20px;padding-left: 15px;margin-right: auto;margin-left: auto;max-width: 1140px;}
*, ::after, ::before {box-sizing: border-box;}
.ligne{display: flex;flex-wrap: wrap;margin-right: -14px;margin-left: -15px;}

.article_1{background-color: #EEE;padding: 20px;margin-top:20px;}
.article_2{background-color: #EEE;padding: 20px;margin-top:20px;}
.Modedevie{background-color: #EEE;padding: 20px;margin-top:20px;}
.article_3{background-color: #EEE;padding: 20px;margin-top:20px;}
.article_4{background-color: #EEE;padding: 20px;margin-top:20px;}
.photo-article-1{max-width: 1140px;display: block;margin:0 auto;}
.photo-article-2{max-width: 1140px;display: block;margin:0 auto;}


/*Pour centrer le texte*/
.centre-texte{text-align: center;}
.aligner-milieu{display: block;margin:0 auto;}

/*Cela va me servir à 'découper' une ligne*/
.pleine-largeur{position: relative;width: 100%;padding-right: 15px;padding-left: 15px;flex: 0 0 100%;max-width: 100%;}
.trois-quarts-largeur{position: relative;width: 100%;padding-right: 15px;padding-left: 15px;flex: 0 0 75%;max-width: 75%;}
.moitie-largeur{position: relative;width: 100%;padding-right: 15px;padding-left: 15px;flex: 0 0 50%;max-width: 50%;}
.tiers-largeur{position: relative;width: 100%;padding-right: 15px;padding-left: 15px;flex: 0 0 33.333333%;max-width: 33.333333%;}
.quart-largeur{position: relative;width: 100%;padding-right: 15px;padding-left: 15px;flex: 0 0 25%;max-width: 25%;}

/*Caroussel*/
#slider{display: block;margin:0 auto;}
div#slider figure {position: relative; width: 500%; margin: 0; padding: 0; font-size: 0; text-align: left;animation: 30s slidy infinite;}
div#slider figure img { width: 20%; height: auto; float: left; }
div#slider { width: 80%; max-width: 1000px; overflow: hidden }
@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

/*footer*/
.texte-footer{color: white;text-align: center;}